<p id="notice"><%= notice %></p>

<h1>Profiles</h1>

<% @profiles.each do |profile| %>
<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4"><%= profile.name %></p>
        <p class="subtitle is-6">@<%= profile.name %></p>
      </div>
    </div>
    <div class="content"><%= profile.description %></div>
  </div>
  <footer class="card-footer">
    <a class="card-footer-item" <%= link_to 'Show', profile %></a>
  </footer>
</div>
<% end %>
