<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <% if @profile.photo.attached? %>
          <figure class="image is-48x48">
            <%= image_tag(@profile.photo) %>
          </figure>
        <% else %>
          <figure class="image is-48x48">
            <%= image_tag("user.png") %>
          </figure>
        <% end %>
      </div>
      <div class="media-content">
        <p class="title is-4"><%= @profile.name %></p>
        <p class="subtitle is-6">@<%= @profile.name.split.join("_").downcase %></p>
      </div>
    </div>
    <div class="content"><%= @profile.description %></div>
    <a class="button is-danger" <%= link_to 'Create Listing', new_listing_path %></a>
  </div>
  <% @profile.listings.each do |listing| %>
    <div class="card">
      <div class="card-content">
        <p>
          <%= listing.title %>
        </p>
        <p>
          <%= listing.description %>
        </p>
        <p>
          <%= listing.price %>
        </p>
        <button class="button is-danger"><%= link_to 'Show Listing', listing %></button>
      </div>
    </div>
  <% end %>
  <% if @profile.user_id == current_user.id %>
    <footer class="card-footer">
      <a class="card-footer-item" <%= link_to 'Edit Profile', edit_profile_path(@profile) %></a>
      <a class="card-footer-item" <%= link_to 'Delete Profile', @profile, method: :delete, data: { confirm: 'Are you sure?' } %></a>
    </footer>
  <% end %>
</div>

<a class="button is-danger" <%= link_to 'Back', profiles_path %></a>
