<section class="listings">
  <div class="container">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <p>
            <strong><%= @listing.title %></strong>
            </p>
            <p>
              <%= @listing.description %>
            </p>
            <p>
              <strong><%= number_to_currency(@listing.price) %></strong>
            </p>
            <p>
              <%= @listing.created_at.strftime("Created on: %B %d, %Y")%>
            </p>
            <% if @listing.profile_id == current_user.profile.id %>
              <td><%= link_to 'Edit', edit_listing_path(@listing), class:'button is-warning' %></td>
              <td><%= link_to 'Destroy', @listing, method: :delete, data: { confirm: 'Are you sure?' }, class:'button is-danger' %></td>
            <% end %>
          </div>
          <div class="media-right">
            <% if @listing.category_id != nil %>
              <button class="button is-primary is-rounded is-outlined category-icon">
                <span class="icon">
                  <i class="far fa-image">
                  </i>
                </span>
                <span><%= @listing.category.name %></span>
              </button>
            <% else %>
              <%= %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= link_to 'Back', profile_path(@listing.profile_id), class:'button is-primary is-outlined' %>
  </div>
</section>
